@tailwind base;
@tailwind components;
@tailwind utilities;


/* Layout css */
.headerColor{
    @apply bg-header-color
}
/* header 記述*/
.headerBar{
    @apply  flex justify-between h-24 items-center w-5/6 mx-auto;
}
.headerBar h1 {
    @apply text-white text-2xl font-bold;
}

/* headerナビゲーション */
.headerNav{
    @apply w-3/5 ;
}
.headerNav > ul{
    @apply flex justify-between;
}
.headerNav > ul > li{
    @apply text-white text-xl;
}

/* footerタグにつけること */
.mainRoot{
    @apply bg-main-color w-11/12 m-auto rounded-3xl mb-10 my-8 py-8 px-3;
}
.footerBar{
    @apply bg-footer-color text-center p-8 
}

/* LayoutCSSはここまで */

/* mainHeaders */
.mainHeaders{
    @apply grid grid-cols-12 grid-rows-2
}





/* searchBar */

.searchBar{
    @apply col-start-1 col-end-13 row-start-1 row-end-2 w-11/12 m-auto;
}
.searchBar input{
    @apply   rounded-xl w-4/6 h-16 mr-8 my-10 ;
}
.searchBar button{
    @apply   bg-black text-white rounded-xl  w-1/5 h-14 mx-3 my-10 ;
}
/* searchItems */
.searchItems{
    @apply w-11/12  mx-auto my-4 justify-around col-start-1 col-end-13 row-start-2 row-end-3 ;
}
.searchItems > ul{
    @apply  flex justify-around bg-white rounded-xl p-4 ;
}



.auctionLabel{
    display:flex;
    flex-flow: column;
}
.auctionLabel div{
    @apply flex order-2
}
.auctionLabel>a{
    @apply order-3 text-right;
    
}
.auctionLabel>h2{
    @apply order-1
}

.carDetailCard{
    @apply bg-white 
}



/* carDetailCardの例あると */
.carDetailLabel{
    @apply py-4  bg-white my-5
}
.carDetailCard {
    @apply  border-solid border-2 border-gray-300 rounded-lg p-2 m-2
}

table, tr, td {
    border-collapse: collapse;
    padding: 10px;
    text-align:center
}
.pager{
    @apply flex justify-between w-11/12 mx-auto
}